@model IEnumerable<LabWork15.Models.Video>

@{
    ViewBag.Title = "Список видео";
}

<h1>
    @ViewBag.Title
</h1>

<a href="@Url.Action("Upload")" class="btn btn-success">
    <i class="fas fa-plus"></i>
    Загрузить
</a>

<div class="my-3">
    @Html.Partial("Videos", Model)
</div>