@model LabWork15.ViewModels.VideoWatchViewModel

@{
    ViewBag.Title = "Просмотр видео";
}

<h1>@Model.Title</h1>

<a href="@Url.Action("Index")" class="btn btn-secondary">
    <i class="fas fa-chevron-left"></i>
    Назад
</a>

<div class="my-3">
    @Html.Partial("Video", Model)
</div>